.settings/
.project
docs/apidocs
reactive-rest/.settings
reactive-rest/docs/apidocs
reactive-rest/target
reactive-rest/.classpath
reactive-rest/.project
rest-hateoas/.settings
rest-hateoas/docs/apidocs
rest-hateoas/logs
rest-hateoas/target
rest-hateoas/.classpath
rest-hateoas/.project
web/.settings
web/docs/apidocs
web/target
web/.classpath
web/.project